.festival-event-date-time {
    .festival-time-input {
        .input-hour {
            input {
                text-align: center;
            }
        }

        .input-separator {
            padding: 0 3px;
        }

        .input-minutes {
            input {
                text-align: center;
            }
        }
    }
}

